body {background-color: white !important;}
div.sis_form {padding-left: 5px;}
table.sis_form        {text-align: center; font-size: 75%; width: 85%; margin-left: 15px; overflow: hidden;}
table.sis_form tr td  {padding-left: 15px; vertical-align: top; padding-top: 5px;}

table.sis_fileform        {text-align: center; font-size: 75%}
table.sis_fileform tr td  {padding-left: 8px; vertical-align: top; padding-top: 5px;}

table.sis_form hr  {margin-top: 20px;}

table.sis_form tr td.short {width: 33%;}

span.helpicon      {position: relative;}
div.helptip        {display: none; padding: 5px; position: absolute; top: 0px; left: 2em; width: 400px; min-width: 400px; border: 1px solid black; background: #EEEECC; color: #555555; z-index: 9999;}
div.helptip a:link {color: #555555;}

iframe.helpblock {display: none; position: absolute; top: 0; left: 0; z-index:-1; filter: mask(); width:3000px; height:3000px;}

*.mandatory {font-weight: bold; color: #770000; background-color: #FAEAEA;}
tr.error td {font-weight: bold; color: #770000; background-color: #FAEAEA;}
tr.error td.form_label {border-left: 6px solid #770000;}
tr.valid td {font-weight: bold; color: green; background-color: white;}
span.explanation {padding: 3px; border: 1px solid black; margin: 5px; font-size: 75%;}
div.errormsg     {padding: 3px; float: left; display: inline-block; border: 1px solid #660000; margin: 5px; font-weight: bold; background-color: #EEEEBB;}

table.sis_fileform tr.complete {background-color: #DDFFDD;}
table.sis_fileform tr.csOnly   {background-color: #FFFFDD;}

div.pagenum {float: right; margin: 3px; padding: 2px; border: 1px solid #BBBBBB; background-color: #E5E5E5; color: #666666; font-size: 70%;}

.tooltip          {width: 311px; color:#000; font:bolder 11px/1.3 Arial,sans-serif; text-decoration:none;text-align:center;}
.tooltip a        {position: relative;}

div.rofield  {width: 400px; margin-bottom: 3px; border: 1px solid grey; padding: 3px; color: black;}

.formbutton_link {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4f6273) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #4f6273 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4f6273');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:4px 20px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
        cursor: default;
        margin-left: 10px;
        margin: 5px;
}
.formbutton_link:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4f6273), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #4f6273 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f6273', endColorstr='#79bbff');
	background-color:#378de5;
}
.formbutton_link:active {
	position:relative;
	top:1px;
}