@page {size: landscape;
       margin-left: 0.5in; margin-right: 0.5in; margin-top: 0.5in; margin-bottom: 0.5in; }

div.page-top, div.page-foot { display: none; }
table#page-head {display: none;}
*.noprint, *.noprint * {display: none !important;}

table.report thead     { display: table-header-group; }
table.report tbody     { overflow: visible;           }
/*table.report tfoot     { display: table-footer-group; }*/

table.title-bar { color: black; background: white; }
table.report           { margin-right: 1em; border-top: 3px solid black; }
tr.report-header th    { font-size: 7.0pt; }
tr.report-row td       { font-size: 6.5pt; }
tr.report-gap td       { font-size: 4.0pt; }
tr.report-total td     { font-size: 7.5pt; }
tr.report-subtotal td  { font-size: 7.0pt; }
tr.report-subhead td.report-subhead { font-size: 11pt; }
table.comments td {font-size: 7.0pt;}

table.report.thin tr * {font-size: 10pt;}
table.report.thin tr.report-subhead td.report-subhead {font-size: 13pt;}
table.comments.thin td {font-size: 10pt;}
table.thin tr.comments td {font-size: 10pt;}

table.report.med {width: 70%; margin: 0 15%;}
table.report.med tr * {font-size: 10pt;}
table.report.med tr.report-subhead td.report-subhead {font-size: 13pt;}
table.comments.med td {font-size: 10pt;}
table.med tr.comments td {font-size: 10pt;}

table.report.conflictslides {width: 70%; margin: 1em 15% 1em 15%; border: 1px solid black;}
table.report.conflictslides td { border: 1px solid black;} 
table.conflictslides tr * {font-size: 2em;}
table.conflictslides tr.report-subhead td.report-subhead {font-size: 110%;}
table.conflictslides tr.comments td {font-size: 2em;}

table.report tr.odd td {background: rgb(221,221,255);}

tr.report-total td.neg, tr.report-subtotal td.neg { font-weight: bold; color: white; background: black; }

span.generated {font-size: 80%; font-weight: normal;}

div.PercentOfMonth {text-align: center;}
div.PercentOfMonth span {border: 1px dotted #333333; background: #F4F4F4; padding: 0.33em;}

table.report.quota tr.bottom td,
table.report.quota tr.budget td.customer.first {border-bottom: 1px solid black;}
table.report.quota tr.break  td {border-bottom: 1px dotted black;}

table.report.reconciliation {width: auto; margin: 0;}
table.report.reconciliation tr td {font-size: 8pt;}
