body {background-color: #e3edf1; }

*.noscreen, *.noscreen * {display: none;}

table.report thead     { display: table-header-group; }
/*
table.report tbody     { overflow: auto; height: 600px;}
table.report tbody *   { height: auto; }
*/
table.report tfoot     { display: table-footer-group; }

option.heading {font-weight: bold; color: blue; border-bottom: 1px solid navy;}
option.market  {font-weight: bold; color: red; background: #E0E0E0;}
option.separator {text-align: center;}

option.navtitle {text-align: left; font-weight: bold; color: black; border-bottom: 1px solid black; border-top: 2px solid black; background: #DDDDDD;}
option.navhead {text-align: left; font-weight: bold; color: blue; border-top: 3px solid white;}
option.navsub  {text-align: left; color: #DD0033;}

form.optmenu {color: white; background: #828282; border: 2px solid #202020; margin: 0 0 0.5em;}
form.optmenu * {vertical-align: middle; font-size: 14px;}
form.optmenu td {background-color: #828282 !important;}
*.optmenu {color: white;}
td.optborderL {border: 1px inset black; border-right-width: 0px;}
td.optborderR {border: 1px inset black; border-left-width: 0px;}

table.title-bar {color: #333333; background: #983926; border-width: 0; margin: 0;}
table.title-bar tr { border-width: 0; border-left: 1px solid #665020;}
table.title-bar tr * { padding: 3px; }
*.title-bar { color: white; }

table.report tr *, table.comments td {font-size: 10px;}
tr.report-subhead td {font-size: 13px;}
table.comments th.Comments.header {font-size: 12px;}

table.thin tr * {font-size: 1em;}
table.thin tr.report-subhead td.report-subhead {font-size: 130%;}
table.thin tr.comments td {font-size: 1em;}

table.report.med {width: 70%; margin: 0 15%;}
table.med tr * {font-size: 1em;}
table.med tr.report-subhead td.report-subhead {font-size: 130%;}
table.med tr.comments td {font-size: 1em;}

table.report.conflictslides {width: 70%; margin: 1em 15% 1em 15%; border: 1px solid black;}
table.report.conflictslides td { border: 1px solid black;} 
table.conflictslides tr * {font-size: 2em;}
table.conflictslides tr h2 {font-size: 1em;}
table.conflictslides tr.report-subhead td.report-subhead {font-size: 110%;}
table.conflictslides tr.comments td {font-size: 2em;}
table.report.section { border-bottom: 2px solid black; }

tr.report-header {border-left: 1px solid #665020;}
tr.report-header th {border-right: 1px solid #665020; border-bottom: 1px solid black;
                     border-top: 1px solid #665020; background: #7ea6d5;}
table.report td {background: white;}
table.report tr.report-total td.numeric    {background: #FFFF66;}
table.report tr.report-subtotal td.numeric {background: #FFFFCC;}
table.report tr.report-total td {background: white;}
table.report tr.report-subtotal td {background: white;}

tr.odd td {background: rgb(231,243,224);}
tr.even td {background: white;}

table.fieldlist tr.file td {background-color: #BBBBEE;}
table.fieldlist tr.file.odd td {background-color: #9999EE;}
table.fieldlist tr.file.even td {background-color: white;}

td.neg {color: red !important;}

div.PercentOfMonth {text-align: center;}
div.PercentOfMonth span {border: 1px dotted #606660; background: #F0FFF0; padding: 0.33em;}

/* ----- */

table#page-head {background-repeat: repeat-x; font-family: sans-serif; width: 100%; margin: 0px;}
tr#top-row1 td {height: 65px; text-align: left; vertical-align: middle; padding: 0px;}
td#top-menu {text-align: right !important;}
tr#top-row1 select {font-size: 12px; text-align: right; margin: 2px;}
tr#top-row2 td {height: 10px;}

div.header { background-color: white; width:100%; margin: 0px; height: 135px; }

div.top-controls {float: right; font-size: 70%; text-align: right; margin-right: 25px;}

div.footer { width:100%; background-color: #000000; color: white; margin: 0px; }

table.report.quota tr.budget td {background: #E0E0FF;}
table.report.quota tr.actual td {background: #FFE0E0;}
table.report.quota tr.actvsbug td {background: #FFFFCC;}
table.report.quota tr.budget td.customer {background: #F0FFE0;}
table.report.quota tr.bottom td,
table.report.quota tr        td.customer.first {border-bottom: 1px solid black;}
table.report.quota tr.break  td {border-bottom: 1px dotted black;}

table.report.quota tr.budgettotal   td  {background: white;}
table.report.quota tr.actualtotal   td  {background: #DADADA;}
table.report.quota tr.actvsbugtotal td  {background: #C0C0C0;}

table.report.reconciliation tr td {font-size: 10px; }
table.report.reconciliation tr th {font-size: 10px; }

div.formQuestion { margin: 3px 4em 0 0; font-weight: bold; font-size: 70%;}

table#content {font-family: sans-serif; margin-left: 112px;}
table#content td {padding: 3px;}
table#content td#menupane {font-size: 60%; font-weight: bold; vertical-align: top; width: 150px;}
table#content td#menupane a {padding-bottom: 10px;}
table#content td#messagepane {text-align: center; font-size: 70%; vertical-align: top; width: 100px; border: 2px solid #000055;}
table#content td#messagepane2 {text-align: center; font-size: 70%; vertical-align: top; width: 100px; margin-left: 4px;}
table#content td#content {vertical-align: top;}
table#content a:link {color: #983926; text-decoration: underline; font-weight: bold;}
table#content a:visited {color: #983926; text-decoration: underline; font-weight: bold;}
table#content a:hover {color: #e55037; text-decoration: underline;}

/* General layout styles, customized from year-to-year */
div.aligned        {margin-left: 112px; margin-right: 10px; position: relative;}
div.primaryContent {margin-left: 25px; margin-right: 10px;}

h3.title {color: #0F6C00;}
h3.intro {color: #3f291c;}
h3.login {color: #1e7788;}
h3.error { font-size: 100%; color: red; }

.mainhead {color: #3f291c;}
.subhead  {color: #1e7788;}

a:link {color: #983926;}
a:visited {color: #983926;}

/* ----------- */

table#leftmenu {font-family: arial,helvetica,sans-serif; font-size: 11px; font-weight: normal; margin: 0px; width: 100%;}
table#leftmenu td {padding: 4px; vertical-align: middle; text-align: left;}
table#leftmenu td.first  {background-color: #56D0A0;}
table#leftmenu td.second {padding-left: 10px; background-color: #D0EADD;}
table#leftmenu a {text-decoration: none; color: black;}
table#leftmenu a:hover {text-decoration: underline;}
table#leftmenu td.spacer {border-bottom: 1px solid #BBBBBB;}

table tr td input.trans {background-color: transparent !important;}

div#top-roledisplay {color: #b6e0d7; text-align: right; margin-right: 5px;}
div#top-roledisplay a {color: #b6e0d7; font-weight: bold;}

table tr.error td {background-color: #FF9999 !important;}

/*---------------*/
/* tablesorter style sheet */
table.tablesorter {
        font-family:arial;
        font-size: 8pt;
        width: 100%;
        text-align: center;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
        font-size: 8pt;
        padding: 4px;
}
table.tablesorter thead tr .header {
        background-image: url(/images/sorter_bg.gif);
        background-repeat: no-repeat;
        background-position: center right;
        cursor: pointer;
        padding-right: 20px;
}
table.tablesorter tbody td {
        padding: 4px;
        vertical-align: top;
}
table.tablesorter tbody tr.odd td {
        background-color:rgb(231,243,224);
}
table.tablesorter thead tr .headerSortUp {
        background-image: url(/images/sorter_asc.gif);
}
table.tablesorter thead tr .headerSortNone {
        background-image: none;
}
table.tablesorter thead tr .headerSortDown {
        background-image: url(/images/sorter_desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: rgb(0, 140, 255);
}

