body { background: white; color: black; margin: 0px;}
h1 {margin: 0px;}
* { font-family: sans-serif; }
form, table {margin: 0; padding: 0;}
table {border-collapse: collapse; border-spacing: 0; empty-cells: show;}

div.containerMain { width: 96%; position: relative; left: 2%; margin-top: 1em; margin-bottom: 1em;
clear: right; }

blockquote.original {
  width: 70%;
  border: 1px solid #555;
  background: #DDD;
  padding: 1em;
}
blockquote.current {
  width: 70%;
  border: 1px solid #555;
  background: white;
  padding: 1em;
}

div.questionInstructions {
  padding: 1em;
  width: 70%;
}
.fixed {
  font-family: Courier, monospace !important;
}
form.optmenu {font: bold 12px sans-serif; padding: 0.5em; text-align: left;}

div.report-title { text-align: center; font: bold 120% sans-serif; margin-bottom: 1em; }
div.report-title:first-line { font-size: 130%; }

table.title-bar { margin-bottom: 0; width: 100%; font-weight: bold; }
table.title-bar td.title-bar { text-align: left; }
table.title-bar td.date { text-align: right; }

table.report {width: 100%; margin-bottom: 1em;}
table.report td, table.report th {padding: 0.1em 0.25em;}
table.title-bar *, table.report tr * {font-family: sans-serif;}
*.thin {width: auto !important;}
*.nowrap {white-space: nowrap !important;}
td.Status {text-align: center; vertical-align: middle;}
td.Status img {margin-left: auto; margin-right: auto;}
table.report.detail {font-size: 75%;}

div.tablebreak {page-break-before: always; margin-bottom: 2em;}

td.required {font-weight: bold;}
td.message  {color: #000066;}
td.section  {background: #A48653; color: white; font-weight: bold; font-size: 125%;}
table.detail {font-size: 75%;}
table.padded {margin: 1em; padding: 0.5em;}

div.input_error {margin: 15px; color: #880000; font-weight: bold;}
div.instructions {margin: 1em 2em 0.5em 2em;}

tr.first td {font-weight: bold; font-size: 85% !important;}

tr.report-header th {border-bottom: 1px solid black; vertical-align: bottom;}
*.text {text-align: left;}
*.data, *.numeric {text-align: right;}
*.checkbox {text-align: center;}
tr.report-subtotal td {font-weight: bold;}
tr.report-total td {font-weight: bold;}

tr.report-subhead td {font-weight: bold; font-style: italic; padding-top: 1em;}

tr.report-subtotal td {border-top: 1px solid black; border-bottom: 1px solid black;}
tr.report-subtotal + tr.report-total td {border-top-width: 0;}
tr.report-total td {border-bottom: 3px double black; border-top: 1px solid black;}

div#footer {height: 100px; font-size: 10px; width: 100%; margin: 0px; border: 0px; padding: 0px;}
div#footer div.userid {padding: 0.125em 0; vertical-align: top; text-align: left;}
div#footer div.copyright { padding: 0.125em 0; vertical-align: top; float: right; text-align: right;}
div#footer_stub {width: 100%; height: 15px; background-color: black; padding: 0px; margin: 0px; margin-top: 1em;}
div#top-header {width: 100%; height: 135px; background-color: #928076; }
img.footer_stub {padding: 0px; margin: 0px; margin-left: 0px; border: 0px; }

td.f-X {border-right: 1px solid gray;}
td.LeftBorder {border-left: 1px solid gray;}
td.RightBorder {border-right: 1px solid gray;}
td.usersexcluded {color: red;}

.fullwidth { width: 100%; }
tr.oned    { height: 0px; }

.darkgreen {color: #0f6c00;}
.bold {font-weight: bold !important;}
.green {color: #00AA00;}
.red   {color: #DD0000;}

.bgred    {background-color: #FAEAEA;}
.bggreen  {background-color: #DDFFDD;}
.bgyellow {background-color: #FFFFDD;}
.bggrey   {background-color: #CCCCCC;}

table.status tr td {font-size: 75%; border: 1px solid black; padding: 5px;}

table.contentarea {width: 95%; margin: 5px;}
table.contentarea td.contentleft {border-left: 2px solid black; border-top: 2px solid black; border-bottom: 2px solid black; background-color: #EEFFEE;}
table.contentarea td.contentright {border-right: 2px solid black; border-top: 2px solid black; border-bottom: 2px solid black; background-color: #EEFFEE;}
table.contentarea td.final {width: 55%;}
table.contentarea td.tab {margin: 3px; white-space: nowrap; border: 1px outset black; width: 15%; text-align: center; font-family: arial,helvetica,sans-serif; font-weight: bold; background-color: #DDDDEE;}
table.contentarea td.tab.selected {background-color: #0fbc00 !important;}

div.details {font-size: 75% !important; padding-bottom: 5px;}
div.details a:link {color: #944311; text-decoration: underline; font-weight: bold;}
div.details a:visited {color: #7E3C11; text-decoration: underline; font-weight: bold;}
div.details a:hover {color: #795312; text-decoration: underline;}

table.contentarea td.details {font-size: 75% !important; font-style: italic;}

table.documentation {width: 95%; }
table.documentation td {border: 1px solid black}
table.documentation td.document {white-space: normal; width: 25%; font-weight: bold; background-color: #DDDDEE;}
table.documentation td.buttons {white-space: nowrap; width: 75%; text-align: center;}

table.messagecenter tr.highlight td {font-weight: bold; font-size: 75%;}
table.messagecenter td.Subject a {color: black; text-decoration: underline}

td.dllink img {vertical-align: middle !important;}
a.plain {text-decoration: none; color: black;}

table.custinfo {border: 1px solid #333333; width: 100%;}
table.custinfo td {font-size: 12px; background-color: #447755; color: white; font-weight: bold;}

table.updatemenu {width: 100%; border-top: 2px solid black; margin-top: 4px; }
table.updatemenu td {font-size: 13px;}
table.updatemenu tr.steptitle {background-color: #E5FFE5;}

table.LeadDetails {min-width: 75%;}
table.horizfill   {width: 100%;}

div.error {border: 1px solid #999999; background-color: #FFFFBB; font-size: 9px; margin: 5px;}
*.topalign {vertical-align: top !important;}

table.viewsub {margin-left: 25px; font-size: 75%;}
table.viewsub td {padding: 3px;}
table.viewsub tr.primary td {border-top: 1px solid black; background-color: #CCCCFF;}
table.viewsub tr.primary td.Program {border-left: 1px solid black;}
table.viewsub tr.primary td.Status {border-right: 1px solid black; font-weight: bold;}
table.viewsub tr.primary td.Title {font-weight: bold;}
table.viewsub tr.toprow  td {border-top: 1px solid black;}
table.viewsub td.Details {border-left: 2px solid #CCCCFF; border-right: 2px solid #CCCCFF;}
table.viewsub td.buffer {border-left: 1px solid black; text-align: center;}
table.viewsub td.Status {border-right: 1px solid black; padding-left: 3em;}
table.viewsub tr.bottom td {border-bottom: 1px solid black;}

table.viewsub tr.top td {border-top: 1px solid black;}

table.viewsub tr.complete td.Details {background-color: #DDFFDD;}
table.viewsub tr.missing td.Details {background-color: #FFDDDD;}
table.viewsub tr.checkonly td.Details {background-color: #FFFFDD;}
table.viewsub tr.complete td.Status {background-color: #DDFFDD;}
table.viewsub tr.missing td.Status {background-color: #FFDDDD;}
table.viewsub tr.checkonly td.Status {background-color: #FFFFDD;}
table.viewsub tr.complete td.Action {background-color: #DDFFDD;}
table.viewsub tr.missing td.Action {background-color: #FFDDDD;}
table.viewsub tr.checkonly td.Action {background-color: #FFFFDD;}

table.viewprograms {margin-left: 25px; font-size: 80%; border: 1px solid black;}
table.viewprograms tr td {padding: 3px; padding-left: 5px; padding-right: 10px; background-color: #DDFFDD; border-bottom: 1px solid #000055;}
table.viewprograms tr td.Status {font-weight: bold;}
table.viewprograms tr.closed td {background-color: #FFDDDD; font-weight: normal;}
table.viewprograms tr.pre td {background-color: #FFFFDD;  font-weight: normal;}
table.viewprograms td.OpenOn {border-left: 2px solid #000055; border-right: 2px solid #000055; text-align: center;}
table.viewprograms td.Deadline {border-right: 2px solid #000055; text-align: center;}

table.fileuploads {margin-left: 25px; font-size: 75%; border: 1px solid black;}
table.fileuploads span.missing {font-weight: bold; color: #CC0000; }
table.fileuploads tr td {padding: 3px; padding-left: 5px; padding-right: 10px; background-color: #FFFFEE;}
table.fileuploads td.FileUpload {border-bottom: 1px solid black; text-align: center;}
table.fileuploads td.Formats {width: 20em;}
table.fileuploads tr.complete td {background-color: #DDFFDD;}

table.conflict tr td.Title {width: 30%; }
table.conflict tr td.Submitter {width: 15%; }

table.expertise tr.odd td { background-color: #B8C4AC;}

table tr.shaded td {background-color: #CCCCCC;}

.tip {font-size: 75%;}
.small {font-size: 75% !important;}
.required {color: #770000; font-weight: bold;}
.caution {background-color: #EEEE77;}
.monospace {font-family: monospace !important;}
.graybox {background-color: #DDDDDD;}

div.jmenubox {float: right; margin: 10px; padding: 5px; border: 1px double black; background-color: #AAAADD; font-size: 75%;}
div.jmenubox a {color: black;}

tr          .Status.overall {border: 2px solid black !important;}
tr.missing  .Status.overall {background-color: #FFDDDD !important;}
tr.complete .Status.overall {background-color: #DDFFDD !important;}

input.formbutton {font-family: 'arial,helvetica,sans-serif'; font-size: 75%; font-weight: bold; margin: 0.5em;}
